backcall==0.1.0
certifi==2018.10.15
chardet==3.0.4
decorator==4.3.0
dominate==2.3.4
h5py==2.8.0
idna==2.7
ipython==8.10.0
ipython-genutils==0.2.0
jedi==0.13.1
numpy==1.21.0
opencv-python==4.2.0.32
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.0.0
prompt-toolkit==2.0.6
ptyprocess==0.6.0
Pygments==2.7.4
pyzmq==17.1.2
requests==2.20.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
torch==0.4.1.post2
torchfile==0.1.0
torchvision==0.2.1
tornado==5.1.1
traitlets==4.3.2
urllib3==1.26.5
visdom==0.1.8.5
wcwidth==0.1.7
websocket-client==0.53.0
